# Wildcard + in any subdir.
*.o

# Exact filename in any subdir.
.deps
Makefile
Makefile.in

# Exact wildcard, e.g., not in subdirs.
/doc/*.1
/doc/*.5
/doc/*/*.1
/doc/*/*.5
/nls/*/*.cat
/nls/*/generated-*.m
/m4/*.m4

# Exact match, if a directory then everything in directory.
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/data/apps
/data/init
/data/menu
/src/FbTk/libFbTk.a
/src/defaults.cc
/src/defaults.hh
/src/fluxbox
/src/tests/testDemandAttention
/src/tests/testFont
/src/tests/testFullscreen
/src/tests/testKeys
/src/tests/testRectangleUtil
/src/tests/testSignals
/src/tests/testStringUtil
/src/tests/testTexture
/stamp-h1
/util/fbrun/fbrun
/util/fbsetroot
/util/fluxbox-generate_menu
/util/fluxbox-remote
/util/fluxbox-update_configs
/util/startfluxbox
/version.h
