# Wildcard + in any subdir.
*.o

# Exact filename in any subdir.
.deps
Makefile
Makefile.in

# Exact wildcard, e.g., not in subdirs.
/*.m4
/doc/*.1
/doc/*.5
/doc/*/*.1
/doc/*/*.5
/nls/*/*.cat
/nls/*/generated-*.m

# Exact match, if a directory then everything in directory.
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/data/apps
/data/init
/data/menu
/depcomp
/install-sh
/ltmain.sh
/missing
/src/FbTk/libFbTk.a
/src/defaults.cc
/src/defaults.hh
/src/fluxbox
/stamp-h1
/util/fbrun/fbrun
/util/fbsetroot
/util/fluxbox-generate_menu
/util/fluxbox-remote
/util/fluxbox-update_configs
/util/startfluxbox
/version.h

# off source build directory
build
