aclocal.m4
autom4te.cache
.build*
*.cat
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/apps
data/init
data/menu
depcomp
.deps
doc/asciidoc/fluxbox-keys.xml
doc/asciidoc/fluxbox-remote.xml
doc/asciidoc/fluxbox.xml
doc/fbrun.1
doc/fbsetbg.1
doc/fbsetroot.1
doc/fluxbox-apps.5
doc/fluxbox-keys.5
doc/fluxbox-menu.5
doc/fluxbox-remote.1
doc/fluxbox-style.5
doc/startfluxbox.1
doc/fluxbox.1
doc/fluxstyle.1
doc/ru/fluxbox.1
libtool
libtool.m4
ltmain.sh
lt*.m4
Makefile
Makefile.in
nls/*/generated-*.m
*.o
src/defaults.*
src/FbTk/libFbTk.a
src/fluxbox
stamp-h
stamp-h1
util/fbrun/fbrun
util/fbsetroot
util/fluxbox-generate_menu
util/fluxbox-remote
util/fluxbox-update_configs
util/startfluxbox
version.h
install-sh
missing
src/tests/testFont
src/tests/testFullscreen
src/tests/testDemandAttention
src/tests/testKeys
src/tests/testRectangleUtil
src/tests/testSignals
src/tests/testStringUtil
src/tests/testTexture
*~
.*.swp
