Amadeusz Sławiński <amade@asmblr.net>
Arkadiusz Bokowy <arkadiusz.bokowy@gmail.com>
Aymeric Vincent <vaymeric@users.sf.net>
Bernhard Walle <Bernhard.Walle@gmx.de>
Claes Nästén <me@pekdon.net> <pekdon>
Damjan Dimitrioski <damjandimitrioski@gmail.com>
Daniel Diaz <dydyman@gmail.com> <dydyam at gmail dot com>
David Coppa <dcoppa@gmail.com>
Dmitry E. Oboukhov <unera@debian.org>
Ed Martin <edman007@edman007.com>
Engelbert Gruber <grubert@fluxbox.org> <grubert> 
Gediminas Liktaras <gliktaras@gmail.com> <gliktaras at gmail com>
Hendrik Iben <mikro@zvxeb.de>
Henrik Kinnunen <fluxgen@fluxbox.org> <fluxgen at fluxbox dot org>
Henrik Kinnunen <fluxgen@fluxbox.org> fluxgen <fluxgen>
Isratine Citizen <genghiskhan@gmx.ca>
Jeremiah Mahler <jmmahler@gmail.com> <jmmahler at gmail com>
Jim Ramsay <i.am@jimramsay.com>
Jim Ramsay <jim.ramsay@motorola.com>
John K Pate <j.k.pate@sms.ed.ac.uk> <j.k.pate at sms.ed.ac.uk>
John Sennesael <john@adminking.com>
Julien Viard de Galbert <julien@vdg.blogsite.org>
Ken Bloom <kbloom@gmail.com> <kbloom at gmail com>
Lajos Koszti <ajnasz@ajnasz.hu>
Mark Tiefenbruck <mark@fluxbox.org> <mark>
Mark Tiefenbruck <mark@fluxbox.org> <markt>
Mathias Gumz <akira@fluxbox.org> <akir>
Mathias Gumz <akira@fluxbox.org> <akira at fluxbox dot org>
Mathias Gumz <akira@fluxbox.org> <mathias gumz at gmail com>
Mathias Gumz <akira@fluxbox.org> mathias <mathias>
Matteo Galiazzo <matteo@maltesenarrazioni.it>
Matthias S. Benkmann <matthias@winterdrache.de>
Mesutcan Kurt <mesutcank@gmail.com> <mesutcank at gmail dot com>
Michael Abbott <michael@araneidae.co.uk>
Michal Zime <michal.zimen@gmail.com> <michal dot zimen at gmail dot com>
Nacitar Sevaht <nacitar@ubercpp.com>
Nitish Padgaonkar <nitishp@gmail.com>
Paul Tagliamonte <paultag@fluxbox.org> <paultag at fluxbox dot org>
Paul Tagliamonte <paultag@fluxbox.org> <paultag at ubuntu com>
Pavel Labath <pavelo@centrum.sk>
Peter Hercek <hercek@users.sourceforge.net> <hercek at sf dot net>
Peter Hercek <hercek@users.sourceforge.net> <hercek@sf.net>
Peter Korsgaard <jacmet@sunsite.dk>
Peter Pentchev <roam@ringlet.net>
Raphael Kubo da Costa <rakuco@FreeBSD.org>
Ryan Pavlik <rpavlik@iastate.edu>
Sami Kerola <kerolasa@iki.fi>
Sergio Cipolla <secipolla@gmail.com> <secipolla at gmail.com>
Simon Bowden <rathnor@fluxbox.org>
Simon Bowden <rathnor@fluxbox.org> <rathnor>
Simon Bowden <rathnor@fluxbox.org> <simonb>
Slava Semushin <php-coder@altlinux.ru>
Soeren Beye <soeren@soerenbeye.de> <soeren at soerenbeye dot de>
Sven Michel <tenner@fluxbox.org>
Takeshi Hamasaki <hmatrjp@users.sourceforge.jp>
Thomas Orgis <sobukus@users.sourceforge.net>
Tomas Janousek <tomi@nomi.cz>
Vladimir A. Pavlov <pv4@bk.ru>
cout <cout>
skiidoo <aza.skiidoo@gmail.com>
skiidoo <skiidoo@users.sourceforge.net>
skizzhg <skizzhg@gmx.com>
slakmagik <slakmagik@gmail.com>
unknown <unknown>
